/* chart/graph styling */
.CaptionedChart {
  padding: 5px 10px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #343333;
}

.CaptionedChart,
.chart {
  width: 360px;
  height: auto;
}

.HeaderHTML {
  padding: 10px 5px;
  font-family: "IBM Plex Serif", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.chart {
  cursor: pointer;
}

.chart-labels {
  font-size: 7px;
}

.chart-subtitle {
  font-size: 9px;
}

.diagram-labels {
  font-size: 10px;
}

/* Tooltip */
.tooltip {
  pointer-events: none;
  position: fixed;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 8px;
  text-align: left;
}

.diagram-tooltip {
  pointer-events: none;
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
}

.tooltip-title {
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.tooltip-total {
  border-radius: 0 0 5px 5px;
}

.tooltip-title,
.tooltip-total {
  background-color: #f1eded;
}

.tooltip-title,
.tooltip-total,
.tooltip-content {
  padding: 4px 6px;
}

.tooltip-content .value,
.tooltip-total .value {
  text-align: right;
}

table.tooltip-content,
table.tooltip-total {
  width: 100%;
  border-spacing: 0;
}

.tooltip-content td:first-child,
.tooltip-total td:first-child {
  padding-right: 8px;
}

.color-legend {
  display: inline-block;
  background-color: inherit;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}



/* Map Dropdown */
#map-dropdown {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  background-color: #fff;
  color: #495057;
  cursor: pointer;
  appearance: none; /* Removes default arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center; 
  padding-left: 10px;
  padding-right: 30px; /* Ensure space for the arrow */
}

#map-dropdown:hover {
  background-color: #e9ecef; /* Light grey background on hover */
}


/* CSS for Styled Table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
}

.styled-table thead tr {
  background-color: #3167A4;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #3167A4;
} */

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #3167A4;
}


/* tablet */
@media only screen and (min-width: 720px) {

  /* starts here */
  .CaptionedChart {
    padding: 10px 20px;
  }

  .CaptionedChart,
  .chart {
    width: 600px;
  }

  .HeaderHTML {
    font-size: 18px;
  }

  .chart-labels {
    font-size: 10px;
  }

  .chart-subtitle {
    font-size: 12px;
  }

  .diagram-labels {
    font-size: 16px;
  }

  .tooltip {
    font-size: 10px;
  }
}

/* desktop */
@media screen and (min-width: 1025px) {

  /* starts here */
  .CaptionedChart {
    padding: 10px 20px;
  }

  .CaptionedChart,
  .chart {
    width: 650px;
  }

  .HeaderHTML {
    font-size: 20px;
  }

  .chart-labels {
    font-size: 12px;
  }

  .chart-subtitle {
    font-size: 14px;
  }

  .diagram-labels {
    font-size: 18px;
  }

  .tooltip {
    font-size: 12px;
  }
}