.CaptionedChart {
  padding: 5px 10px;
  font-family: "IBM Plex Sans", sans-serif;
}

.CaptionedChart,
.chart {
  width: 360px;
  height: auto;
}

.HeaderHTML {
  padding: 10px 5px;
  font-family: "IBM Plex Serif", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.chart {
  cursor: pointer;
}

.chart-labels {
  font-size: 7px;
}

/* Tooltip */

.tooltip {
  pointer-events: none;
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 8px;
  text-align: left;
}

.tooltip-title {
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.tooltip-total {
  border-radius: 0 0 5px 5px;
}

.tooltip-title,
.tooltip-total {
  background-color: #f1eded;
}

.tooltip-title,
.tooltip-total,
.tooltip-content {
  padding: 4px 6px;
}

.tooltip-content .value,
.tooltip-total .value {
  text-align: right;
}

table.tooltip-content,
table.tooltip-total {
  width: 100%;
  border-spacing: 0;
}

.tooltip-content td:first-child,
.tooltip-total td:first-child {
  padding-right: 8px;
}

.color-legend {
  display: inline-block;
  background-color: inherit;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  body {
    background: rgb(234, 234, 169);
  }

  .CaptionedChart {
    padding: 10px 20px;
  }

  .CaptionedChart,
  .chart {
    width: 600px;
  }

  .HeaderHTML {
    font-size: 18px;
  }

  .chart-labels {
    font-size: 10px;
  }

  .tooltip {
    font-size: 10px;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {
  body {
    background: rgb(184, 196, 233);
  }

  .CaptionedChart {
    padding: 10px 20px;
  }

  .CaptionedChart,
  .chart {
    width: 650px;
  }

  .HeaderHTML {
    font-size: 20px;
  }

  .chart-labels {
    font-size: 12px;
  }

  .tooltip {
    font-size: 12px;
  }
}
